<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card-container">
    <ion-card>
      <ion-card-content class="card-content">
        <ion-avatar class="avatar-container">
          <img [src]="userPhotoURL" alt="Avatar">
          <ion-button fill="clear" class="avatar-overlay-button" (click)="onProfileImagePressed()"></ion-button>
        </ion-avatar>
        <ion-label>
          <h2>{{ userEmail }}</h2>
        </ion-label>
        <ion-item>
          <ion-input [(ngModel)]="userName" placeholder="Cambiar nombre"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button
    expand="block" class="update-profile-button" (click)="onUpdateButtonPressed()">Actualizar perfil</ion-button>
</ion-content>
